{% extends "index.html" %}

{% block description %}
    {{ page.description }}
{% endblock description %}

{% block content %}
    <div>
        <div>
            <a href="/">home</a> / <a href="/blog">blog</a>
        </div>

        <div class="post__body">
            {{ page.content | safe }}
        </div>
        <div>
            <hr />
                <div class="post__meta">
                    {% if page.date %}published {{ page.date | date(format="%Y-%m-%d") }}.{% endif %}
                    {% if page.extra.updated %}(last updated: {{ page.extra.updated | date(format="%Y-%m-%d") }}.){% endif %}
                </div>
            </div>
    </div>
{% endblock content %}